
    <footer class="footer">
        <div class="container-fluid">
            <nav>
                <ul class="footer-menu">
                    <li>
                        <a target="_blank" href="https://www.capearth.com/">
                            Virtual Analyst
                        </a>
                    </li>
                </ul>
                <p class="copyright text-center">
                    &copy; <a target="_blank" href="https://www.capearth.com/">Capearth India</a>
                    - coded by <a href="https://www.apextechnomatics.in/">Apextechnomatics Consultancy LLP</a>
                </p>
            </nav>
        </div>
    </footer>
