{% load static %}
        <div class="sidebar" data-image="/static/assets/img/sidebar-5.jpg">
            <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
            Tip 2: you can also add an image using data-image tag -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <img src="{% static 'assets/img/logo.jpg' %}" class="img img-fluid">
                    <!-- <a target="_blank" href="https://www.capearth.com/" class="simple-text">
                    
                    </a> -->
                </div>

                {% if user.is_authenticated %}
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li><a class="nav-link" href="/productview">
                            <i class="nc-icon nc-notes"></i>
                            <p>Profile</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/statement">
                            <i class="nc-icon nc-notes"></i>
                            <p>Import Statement</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/analyse">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Analyse Statement</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/icons.html">
                            <i class="nc-icon nc-atom"></i>
                            <p>Reports</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/notifications.html">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>Notifications</p>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link" href="{% url 'logout' %}" >
                            <i class="nc-icon nc-single-02"></i>
                            <p>Logout</p>
                        </a>
                    </li>

                    <li class="nav-item active active-pro">
                        <a class="nav-link active" target="_blank" 
                           href="https://www.capearth.com/">
                            <i class="nc-icon nc-spaceship"></i>
                            <p>CAPEARTH INDIA</p>
                        </a>
                    </li>
                </ul>
                {% endif %}

            </div>

        </div>

