{% extends 'layouts/base.html' %}

{% load static %}
{% load humanize %}

{% block title %} UI Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 m-auto">
                <div class="card w-50 m-auto" >
                    <div class="card-header">
                        <h4 class="card-title text-center">Import Bank Statement</h4>
                        <form  method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                            
                            <div class="text-center">
                            {% if success == 'Already added' %}
                               <br><h5 class="text-success">{{success}}</h5>
                            {% else %}
                               <br><h5 class="text-danger">{{success}}</h5>
                            {% endif %}
                            </div>
                            <div class="form-group">
                                <h5 class="col-md-5">Bank name</h5>
                                <input type="text" class="form-control form-control-sm col-md-6" placeholder="Enter Bankname" name='bankname'>
                            </div>
                            <div class="form-group">
                                <input type="file" title="Upload excel file" name="excel_file" required="required">
                            </div>
                            <div class="form-group">
                                <input class="btn btn-info btn-sm" type="submit" value="Upload" >
<!--                                 style="border: 1px solid green; padding:3px; border-radius: 2px; cursor: pointer;"> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 m-auto">      
                                <div class="table-responsive">
                                    <table class="table table-sm table-light table-bordered table-hover text-center">
                                        <caption>Latest five bank statement transctions</caption>
                                        <!-- <thead> -->
                                            <tr class="table-dark text-center">
                                                <th class="text-center"scope="col">Date</th>
                                                <th class="text-center" scope="col">Narration</th>
                                                <th class="text-center"scope="col">Ref_no</th>
                                                <!-- <th>Value_dt</th> -->
                                                <th class="text-center"scope="col">Withdr_amt</th>
                                                <th class="text-center"scope="col">Deposite_amt</th>
                                                <th class="text-center"scope="col">Closing_bal</th>
                                                <th class="text-center"scope="col">Category</th>
                                            </tr>
                                        <!-- </thead> -->
                                        {% for row in queryset %}
                                        <!-- <tbody> -->
                                        <tr class="table-info">
                                            <td scope="row">{{row.date |date:"j/n/Y"}}</td>
                                            <td scope="row">{{row.narration|truncatewords:2}}</td>
                                            <td scope="row">{{row.ref_no}}</td>
                                            <!-- <td>{{row.value_dt| length}}</td> -->
                                            <td scope="row">{{row.withdrawal_amt|intcomma}}</td>
                                            <td scope="row">{{row.deposite_amt|intcomma}}</td>
                                            <td scope="row">{{row.closing_balance|intcomma}}</td>
                                            <td scope="row">{{row.category}}</td> 
                                                          
                                        </tr>
                                        <!-- </tbody> -->
                                        {% endfor %} 
                                    </table>
                                </div>
            </div>
        </div>
    </div>
</div>
            

{% endblock content %}

 <!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
